<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-title>
      GAC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let datos of datos">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="temp" color="transparent" *ngIf="datos.airval < 120" style="display: flex; align-items: center; justify-content: center;">
    <ion-card-content>
      <ion-card-title style="margin-bottom: 20px; font-weight: bolder;" >Ambiente controlado</ion-card-title>
      <div><ion-icon style="color: var(--ion-color-success);" color="success" id="happy" name="happy"></ion-icon></div>
      <div style="color: var(--ion-color-success);" class="estrella" *ngFor="let a of [1,1,1,1,1]">
        <ion-icon name="star"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card id="temp" color="transparent" *ngIf="datos.airval >= 120 && datos.airval < 200 " style="display: flex; align-items: center; justify-content: center;">
    <ion-card-content>
      <ion-card-title style="margin-bottom: 20px; font-weight: bolder;">Advertencia<br>del ambiente</ion-card-title>
      <div><ion-icon style="color: var(--ion-color-warning);" id="happy" name="alert-circle"></ion-icon></div>
      <div style="color: var(--ion-color-warning);" class="estrella" *ngFor="let a of [1,1,1]">
        <ion-icon name="star"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card id="temp" color="transparent" *ngIf="datos.airval >= 200" style="display: flex; align-items: center; justify-content: center;">
    <ion-card-content>
      <ion-card-title style="margin-bottom: 20px; font-weight: bolder;">Peligro máximo</ion-card-title>
      <div><ion-icon style="color: var(--ion-color-danger)" id="happy" name="nuclear" ></ion-icon></div>
      <div style="color: var(--ion-color-danger)" class="estrella" *ngFor="let a of [1]">
        <ion-icon name="star"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
