 <ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" color="dark" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>GAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" color="transparent"><ion-title>Temperatura y humedad</ion-title><ion-icon name="thermometer"></ion-icon></ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Celsius</ion-card-subtitle>
      <ion-card-title>Temperatura</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <circle-progress
        [percent]="85"
        [outerStrokeColor]="'#2dd36f'"
        [animation]="true"
        [animationDuration]="300">
      </circle-progress>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>g/m3</ion-card-subtitle>
      <ion-card-title>Humedad</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <circle-progress
        [percent]="45"
        [title]="'45'"
        [animation]="true"
        [animationDuration]="300">
      </circle-progress>
    </ion-card-content>
  </ion-card>

 
</ion-content>
