<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" color="dark" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>GAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let dato of datos" >
  <ion-card id="temp">
    <ion-card-header >
      <ion-card-title>Temperatura</ion-card-title>
      <ion-card-subtitle>Celsius</ion-card-subtitle>
    </ion-card-header>

    
    
    <ion-card-content>
      <div id="circulo"> 
        <circle-progress 
        [percent]="100"
        [title]="40"
        [outerStrokeColor]="'#2dd36f'"
        [animation]="true"
        [animationDuration]="300">
      </circle-progress>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card id="humedad" >
    <ion-card-header>
      <ion-card-title><ion-icon size="large" name="thermometer"></ion-icon></ion-card-title>
      <ion-card-subtitle>{{dato.airval}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Fahrenheit
    </ion-card-content>
  </ion-card>

  <ion-card id="estado">
    <ion-card-header>
      <ion-card-title><ion-icon size="large" name="water"></ion-icon></ion-card-title>
      <ion-card-subtitle>{{dato.humval}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Humedad
    </ion-card-content>
  </ion-card>


</ion-content>
