<ion-header [translucent]="true">
  <ion-toolbar color="transparent" >
    <ion-title>
      GAC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let datos of datos">
  <ion-card id="temp" color="transparent" *ngIf="datos.movval == 'True'">
    <ion-card-header>
      <ion-card-title>Movimiento detectato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div><ion-icon id="happy" name="warning" color="#000000"></ion-icon></div>
    </ion-card-content>
  </ion-card>
  <ion-card id="temp" color="transparent" *ngIf="datos.movval == 'False'">
    <ion-card-header>
      <ion-card-title>No hay movimiento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div><ion-icon id="happy" name="shield-checkmark" color="#000000"></ion-icon></div>
    </ion-card-content>
  </ion-card>
</ion-content>
